/* styles.css */

body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #bfa75d;
    
}

header {
    background-color: #222222;
    color: #bfa75d;
    text-align: center;
    padding: 1em 1;
    font-size: 1.5em;
    font-weight: bolder;
}

main {
    flex:1;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #bfa75d;
    font-size: 2.2em;
    font-weight: bolder;
}

h3 {
    color: #222222;
}

p {
    line-height: 1.6;
    color: #222222;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

/* Navigation bar */

nav {
    background-color: #bfa75d;
    color: #222222;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Pickage Logo */

.logo-container {
    position:absolute;
    top: 22px; 
    left: 27%;
    max-width: 100px;
}

.logo-container img {
    width: 75px;
    height: auto;
}

/* Signup page */

.signup-button {
    position:absolute;
    right: 5px;
}

.signup-form {
    text-align: center;
}

/* landing page preview boxes */

.preview-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
}

.tools-preview,
.games-preview,
.stats-preview {
    flex: 1; 
    max-width: 30%; 
    background-color: #bfa75d;
    padding: 20px;
    border-radius: 15px;
    margin-right: 50px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.tools-preview a,
.games-preview a,
.stats-preview a,
.learn-preview a {
    display: block;
    text-decoration: none;
    color: #bfa75d;
    background-color: #222222;
    border-radius: 5px;
    padding: 10px 20px;
    margin:auto;
    width:fit-content;
}

/* Blog Page */

.blog-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.featured-articles,
.social-media {
    width: 45%;
    background-color: #bfa75d; 
    padding: 30px;
}

/* Contact Page */

.contact-container {
    display: flex;
    justify-content: space-around;
}

.contact-info,
.contact-form-container {
    width: 42%; 
    background-color: #bfa75d; 
    padding: 20px;
    color: #222222;
    text-align: center
}

/* Tool Page */

.tool-box {
    background-color: #bfa75d;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center
}

/* Games and Odds Page */

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-box {
    flex: 1;
    max-width: 23%;
    background-color: #bfa75d;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

/* Stats Page */

.stat-box {
    background-color: #bfa75d;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

table {
    width: 100%;
    margin-top: 15px; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #222222;
    color: #222222;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #bfa75d;
    color: #222222;
    position:fixed;
    bottom:0;
    width:100%;
}
